<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masoume naderi</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,500;1,700&family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <h1>MY BLOG</h1>
    <p class="p">Welcome to the blog of 
        <span class="unknown">unknown</span>
    </p>
    </header>

    <div class="pic12">

        <div class="t1">
            <img src="./assets/pic/woods.jpg" alt="woods">
            <h2 class="fasele">TITLE HEADING</h2>  
            <h4 class="fasele">Title description,
                <span style="opacity: 0.60;"> April 7, 2014</span>
            </h4>
        
            <div class="fasele">
                <p class="p">
                Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.
                    Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna 
                    enim,ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
                    congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed 
                    vitae justo condimentum, porta lectus vitae, ultricies congue gravida 
                    diam non fringilla.
                </p>
                <br>
            </div>
            <div class="fasele">
                <button id="button1"><b class="p">READ MORE>></b></button>
            </div>
            <div class="comment">Comments  <span class="zero" >0</span></div>
        </div>  
        <div id="t2">
            <img style="width: 30vw;" src="./assets/pic/avatar_g.jpg" alt="avatar_g">
            <h4 class="fasele">
                <b class="myname">My Name</b>
            </h4>
            <div class="fasele">
            <p class="p">Just me, myself and I, exploring the universe of uknownment. 
                I have a heart of love and a interest of lorem ipsum and mauris 
                neque quam blog. I want to share my world with you.
            </p>
            </div>
            
        </div>
       
    </div>
    <div class="pic3-45">
        <div class="t1">
            <img src="./assets/pic/bridge.jpg" alt="woods">
            <h2 class="fasele">TITLE HEADING</h2>  
            <h4 class="fasele">Title description,
                <span style="opacity: 0.60;"> April 2, 2014</span>
            </h4>
        
            <div class="fasele">
                <p class="p">
                Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.
                    Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna 
                    enim,ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
                    congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed 
                    vitae justo condimentum, porta lectus vitae, ultricies congue gravida 
                    diam non fringilla.
                </p>
                
            </div>
            <div class="fasele">
                <button id="button1"><b class="p">READ MORE>></b></button>
                <div class="comment">Comments  <span class="two" >2</span></div>
            </div>
        </div>  
        <div class="pic45">
            <ul>
                <div id="popular">
                    <span style="margin: 20px;">Popular Posts</span>
                </div>
                
                <li>
                
                    <img src="./assets/pic/workshop.jpg" alt="workshop">
                <div class="marg">
                    <div class="text">Lorem </div> 
                    <div>Sed mattis nunc</div>
                </div>
                    
                </li>
                <li>
                    <img src="./assets/pic/gondol.jpg" alt="gondol">
                    <div class="marg">
                        <div class="text">Ipsum </div> 
                        <div>Praes tinci sed</div>
                    </div>
            
                </li>
                <li>
                    <img src="./assets/pic/skies.jpg" alt="skies">
                    <div class="marg">
                        <div class="text">Dorum </div> 
                        <div>Ultricies congue</div>
                    </div>
                  
                </li>
                <li>
                    <img src="assets/pic/rock.jpg" alt="rock">
                    <div class="marg">
                        <div class="text">Mingsum </div> 
                        <div>Lorem ipsum dipsum</div>
                    </div>
                    
                </li>
            </ul>
             <div class="container"> 
                 <div class="tags">
                     <span style="margin: 20px;">Tags</span>
                 </div>
                <p style="margin-left: 5px"><span class="travel">Travel</span> <span class="box">New York</span> <span class="box">London</span>
                <span class="box">IKEA</span> <span class="box">NORWAY</span> <span class="box">DIY</span>
                <span class="box">Ideas</span> <span class="box">Baby</span> <span class="box">Family</span>
                <span class="box">News</span> <span class="box">Clothing</span> <span class="box">Shopping</span>
                <span class="box">Sports</span> <span class="box">Games</span>
              </p>
            </div>  
        </div>
    </div>
    <div class="footer">
        <button class="previos">Previos</button>
        <button class="next">Next>></button>
        <p class="powered">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
</body>
</html>